numpy
torch>=1.7
opencv_python
loguru
tqdm
torchvision
thop
ninja
tabulate
psutil
tensorboard
jupyter
glob2
#tensorrt-cu11
openvino==2021.4.2
openvino-dev==2021.4.2
#tensorflow==2.11.1
tensorflow
gdown
onnxruntime==1.10.0
tflite_runtime==2.11.0

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
onnx==1.13.0
onnx-simplifier==0.4.10

tensorflow-datasets
